/*
Set the html and body elements to a height of 100%. This establishes a 
reference for the #main-container to occupy the full height of the viewPort.
*/

:root {
  --background-light: rgba(24, 24, 111, 1.0); 
  --background-middle: rgba(100, 100, 100, 1.0); 
  --background-dark: rgba(0, 0, 77, 1.0); 
}

html, body {
  height: auto; /* to fit size of its content */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default paddings */
  background-color: var(--background-dark);
  overflow: hidden;
}

.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/*
Make #main-container take the full height of the viewPort using 100vh 
(viewPort height). 100vh is equal to 100% of the height of the viewPort, 
regardless of the window size.
*/
#main-container {
  width: 100%; /* Full width */
  height: 100vh; /* Full viewPort height */
  position: relative; /* For absolute positioning of resize handle */
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: red;
}

/*
Apply box-sizing: border-box; to all elements to ensure that padding and borders 
are included in the width and height calculations. This prevents unintentional 
overflow and ensures consistent sizing.
*/
*, *::before, *::after {
  box-sizing: border-box;
}


#debugScrollingElement, 
#debugFocalPointElement, 
#debugBullsEyeElement, 
#debugCanvasElement, 
#debugsceneContainerElement,
#debugTheSelectedCardDivIdElement {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}
.intro, .user, .footnote{
  color: white;
  font-size: 17px;
  font-weight: 400;
}

.user {
  font-weight: 900;
  font-size: 20px;
}
.footnote {
  font-size: 12px;
}

.icon {
  width: 16px;
  height: 16px;
  margin: 1px; /* Adjust as needed for spacing */
}

#collapse-left:focus,
#collapse-right:focus {
  outline: 2px solid #1976d2;
  outline-offset: 2px;
}

/* Cursor for left collapse button and left edge */
.w-resize-cursor {
  cursor: w-resize !important;
}

/* Cursor for right collapse button */
.e-resize-cursor {
  cursor: e-resize !important;
}

