/* Palette Styles - Dynamically updated */

/* Reset any existing styles */
[data-color-index] {
    background-color: inherit;
    color: inherit;
    transition: none !important;
}

/* Color 0 */
body [data-color-index].palette-White-Monotone-color-0 {
    background-color: #DDDDDD !important;
    color: #000000 !important;
}

body [data-color-index].palette-White-Monotone-color-0.selected {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

body [data-color-index].palette-White-Monotone-color-0:hover:not(.selected) {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}
